<div class="row">
    <app-card id="grid-card" class="col-md-9 col-sm-12 col-xs-12" [options]="false" [hidHeader]="true"
        style="padding: 0px 5px">
        <div class="row p-1">
            <div class="row col-md-6 col-sm-4">
                <div class="col-md-4 vertical-text-center">
                    <label>Başlangıç Tarihi :</label>
                </div>
                <div class="col-md-8">
                    <kendo-datepicker (valueChange)="BindGrid()" [(ngModel)]="basTar"></kendo-datepicker>
                </div>
            </div>
            <div class="row col-md-6 col-sm-4">
                <div class="col-md-4 vertical-text-center">
                    <label>Bitiş Tarihi :</label>
                </div>
                <div class="col-md-8">
                    <kendo-datepicker (valueChange)="BindGrid()" [(ngModel)]="bitTar"></kendo-datepicker>
                </div>
            </div>
            <button class="p-2 pl-1 pr-1 btn btn-primary" (click)="BindGrid()">
                <i class="fa-redo far fas"></i>
            </button>
        </div>
        <div class="row m-0 pb-2 pt-1">
            <div class="ml-5">
                <input type="checkbox" [(ngModel)]="raporTuru.kamufis" #kamufisi kendoCheckBox (change)="BindGrid()" />
                <kendo-label class="k-checkbox-label" [for]="kamufisi" text="Kamu Fişi"></kendo-label>
            </div>

            <div class="ml-5">
                <input type="checkbox" [(ngModel)]="raporTuru.dokumfisi" #dokumfisi kendoCheckBox
                    (change)="BindGrid()" />
                <kendo-label class="k-checkbox-label" [for]="dokumfisi" text="Döküm Fişi"></kendo-label>
            </div>

            <div class="ml-5">
                <input type="checkbox" [(ngModel)]="raporTuru.ozel" #ozel kendoCheckBox (change)="BindGrid()" />
                <kendo-label class="k-checkbox-label" [for]="ozel" text="Özel"></kendo-label>
            </div>

            <div class="ml-5">
                <input type="checkbox" [(ngModel)]="raporTuru.evsel" #evsel kendoCheckBox (change)="BindGrid()" />
                <kendo-label class="k-checkbox-label" [for]="evsel" text="Evsel"></kendo-label>
            </div>

            <div class="ml-5">
                <input type="checkbox" [(ngModel)]="raporTuru.sanayi" #sanayi kendoCheckBox (change)="BindGrid()" />
                <kendo-label class="k-checkbox-label" [for]="sanayi" text="Sanayi"></kendo-label>
            </div>

            <div class="ml-5">
                <input type="checkbox" [(ngModel)]="raporTuru.manueldokum" #manueldokum kendoCheckBox
                    (change)="BindGrid()" />
                <kendo-label class="k-checkbox-label" [for]="manueldokum" text="Manuel Döküm"></kendo-label>
            </div>

            <div class="ml-5">
                <input type="checkbox" [(ngModel)]="raporTuru.gerikazanim" #gerikazanim kendoCheckBox
                    (change)="BindGrid()" />
                <kendo-label class="k-checkbox-label" [for]="gerikazanim" text="Geri Kazanım"></kendo-label>
            </div>
        </div>
        <div class="row m-0 pb-2 pt-1">
            <div class="row col-md-6">
                <div class="col-md-6 col-lg-4 col-xl-3 col-sm-5 text-center p-0">
                    <button class="col-md-10 btn excel-btn text-nowrap" (click)="excel()">
                        <i class="fa-file-excel far fas pr-2"></i>Excel
                    </button>
                </div>

                <div class="col-md-6 col-lg-4  col-xl-3 col-sm-5 text-center p-0">
                    <button [disabled]="!selectedItem" class="col-md-10 btn btn-secondary text-nowrap"
                        (click)="gridToPrint(selectedItem)">
                        <i class="fa-print far fas pr-2"></i>Yazdır
                    </button>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="row">
                    <div class="col-md-2 mt-1 p-0">
                        <span>Firma Adı : </span>
                    </div>
                    <div class="col-md-10  p-0">
                        <kendo-dropdownlist [size]="'small'" [kendoDropDownFilter]="filterSettings"
                            [popupSettings]="{ appendTo: 'component' }" [filterable]="true" class="width"
                            [data]="ddFirma.f_list" [textField]="ddFirma.displayField" [valueField]="'FirmaId'"
                            [(ngModel)]="formData.firmaId" (filterChange)="ddFirma.onChange($event)"
                            [valuePrimitive]="true" (valueChange)="BindGrid()" [defaultItem]="{
                            FirmaAdi: 'TÜM FİRMALAR'
                          }">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
        </div>

        <kendo-grid #grid [data]="view" [selectable]="true" [navigable]="true" [pageSize]="state.take" [size]="'small'"
            [skip]="state.skip" [sortable]="true" [group]="state.group" [filter]="state.filter" [sort]="state.sort"
            kendoGridSelectBy="HafriyatDokumId" [pageable]="true" [filterable]="true" [resizable]="true"
            [selectedKeys]="mySelections" (cellClick)="onCellClick($event)" (dataStateChange)="dataStateChange($event)"
            [rowClass]="rowCallback">
            <kendo-grid-excel fileName="Dokum.xls" [fetchData]="allData"></kendo-grid-excel>

            <kendo-grid-column title="İşlem Tarihi" field="IslemTarihi" [style]=" { 'white-space' : 'nowrap' }">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    {{ dataItem.IslemTarihi | date : "dd/MM/yyyy" }}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="İşlem Saati" field="IslemTarihi" [style]=" { 'white-space' : 'nowrap' }">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    {{ dataItem.IslemTarihi | date : "HH:mm" }}
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="Tur" field="Tur" [style]=" { 'white-space' : 'nowrap' }"></kendo-grid-column>

            <kendo-grid-column title="BelgeNo" field="BelgeNo"
                [style]="{ 'white-space': 'nowrap' }"></kendo-grid-column>

            <kendo-grid-column title="Firma Adı" field="FirmaAdi"
                [style]="{ 'white-space': 'nowrap' }"></kendo-grid-column>

            <kendo-grid-column [width]="100" title="Plaka" field="PlakaNo"></kendo-grid-column>

            <kendo-grid-column title="Dara(Kg)" field="Dara" [style]="{ 'white-space': 'nowrap' }"></kendo-grid-column>

            <kendo-grid-column title="Birim Fiyat(₺)" field="BirimFiyat"
                [style]="{ 'white-space': 'nowrap' }"></kendo-grid-column>

            <kendo-grid-column title="Tonaj(Kg)" field="Tonaj" [style]="{ 'white-space': 'nowrap' }">
                <ng-template kendoGridFooterTemplate let-column="column">
                    {{total["Tonaj"]==undefined ? 0 : total["Tonaj"].sum | number:"1.0-0"}} kg</ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="Tutar(₺)" field="Tutar" [style]="{ 'white-space': 'nowrap' }">
                <ng-template kendoGridFooterTemplate let-column="column">
                    {{total["Tutar"]==undefined ? 0 : total["Tutar"].sum | number:"1.0-2"}} ₺</ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="Depolama Alanı" field="DepolamaAlanAdi"
                [style]="{ 'white-space': 'nowrap' }"></kendo-grid-column>

            <kendo-grid-column title="Saha Adı" field="SahaAdi"
                [style]="{ 'white-space': 'nowrap' }"></kendo-grid-column>

            <kendo-grid-column title="İşlem Yapan" field="IslemYapan"
                [style]="{ 'white-space': 'nowrap' }"></kendo-grid-column>



        </kendo-grid>
    </app-card>
    <app-card id="kantar-panel-card" class="col-md-3 col-sm-12 col-xs-12" [options]="false" [hidHeader]="true"
        style="padding: 0px 5px">
        <div class="modal-body" style="padding: 5px">
            <div class="mb-2">
                <label>Plaka</label>

                <kendo-dropdownlist [size]="'small'" [kendoDropDownFilter]="filterSettings"
                    [popupSettings]="{ appendTo: 'component' }" [filterable]="true" class="width"
                    [data]="ddPlaka.f_list" [textField]="ddPlaka.displayField" [valueField]="'AracId'"
                    (filterChange)="ddPlaka.onChange($event)" [valuePrimitive]="true" [(ngModel)]="formData.AracId"
                    (valueChange)="plakaChange($event)">
                </kendo-dropdownlist>

            </div>
            <div class="mb-2">
                <label>Belge No</label>
                <kendo-textbox class="width" [size]="'small'" [(ngModel)]="formData.BelgeNo">
                </kendo-textbox>
            </div>
            <div class="mb-2">
                <label>Firma</label>
                <kendo-textbox class="width" [size]="'small'" [clearButton]="true" [disabled]="true"
                    [(ngModel)]="formData.FirmaAdi">
                </kendo-textbox>

            </div>
            <div class="mb-2">
                <label>Dara</label>
                <kendo-numerictextbox [disabled]="true" [spinners]="false" format="#"
                    [(ngModel)]="formData.Dara"></kendo-numerictextbox>
            </div>
            <div class="mb-2">
                <label>Tonaj</label>
                <kendo-numerictextbox [disabled]="true" class="width" format="#" [spinners]="false" format="#"
                    [(ngModel)]="formData.Tonaj" placeholder="Tonaj">
                </kendo-numerictextbox>
            </div>
            <!-- <div class="mb-2">
                <label>Malzeme Türü</label>
                <kendo-dropdownlist [popupSettings]="{ appendTo: 'component' }"></kendo-dropdownlist>
            </div>
            <div class="mb-2">
                <label>İrsaliye No</label>
                <kendo-textbox></kendo-textbox>
            </div> -->

            <div class="mb-2">
                <label>Açıklama</label>
                <kendo-textarea class="width" [rows]="3" [resizable]="'none'" [(ngModel)]="formData.Aciklama"
                    placeholder="Açıklama"></kendo-textarea>
            </div>
        </div>
        <div class="modal-footer" style="justify-content: space-evenly">
            <app-button [buttonType]="ButtonType.Kaydet" (click)="save()"
                [isdisabled]="formData.FirmaAdi==''"></app-button>
            <button class="btn btn-warning" (click)="daraGuncelle()"
                [disabled]="formData.Tonaj<1000 || formData.Tonaj>25000">
                <i class="fa-truck far fas pr-2"></i>Dara Güncelle
            </button>
        </div>
    </app-card>
</div>